* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f0f8ff; */
    font-family: Arial, sans-serif;
    background-image: url('./image/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* Register Page */
.register-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -75px !important;
}

.register-contener {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 30px 30px 30px 30px;
    margin: 50px 5px 5px 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.form-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.form-check-label {
    font-size: 14px;
}

.register-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #0056b3;
}

.text-center {
    font-size: 14px;
}

.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

/* Responsive Design  Login Page*/
@media (max-width: 767px) {

    .register-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: -56px !important;
    }

    .form-container {
        padding: 20px;
        margin:  -25px 10px 10px 10px;
    }

    .form-container h2 {
        font-size: 20px;
    }

    .form-control {
        font-size: 14px;
    }

    .register-contener {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px 0 0 0;
    }

    .register-btn {
        font-size: 14px;
    }
}