* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Login Page */
input{
    
    background-color: red;
    color: white;
}
.bg-image {
    background-image: url('./image/background.jpg');
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    /* filter: blur(8px); */
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -50px !important;
}

.login-contener {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 0px 30px 30px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.form-check-label {
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
}

.text-center {
    font-size: 14px;
}

.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

/* Responsive Design  Login Page*/
@media (max-width: 767px) {

    .profile-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        margin-top: -55px !important;
    }

    .form-container {
        padding: 20px;
        margin: 10px;
    }

    .form-container h2 {
        font-size: 20px;
    }

    .form-control {
        font-size: 14px;
    }

    .login-btn {
        font-size: 14px;
    }
}